

body, html {
    height: 100%;
    
  }

/*-----navbar---------*/
.nav_bar div {
    background-color: black;
    opacity: 0.8;
   
}

.nav_bar{
    color: rgb(146, 140, 140);
}

.nav_bar a:hover{
    color:rgb(173, 53, 10);
    font-size: 120%;
}

#navbar-brand{
    color:rgb(173, 53, 10);
    text-decoration: none;
    font-size: 30px;
    font-family: Impact, sans-serif;
}

#navbar-brand:hover{
    color:rgb(251, 250, 250);
    font-size: 40px;
    
}


/*-----header---------*/



/*-----body---------*/


/*---------Hero Image--------*/

img {
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
}




/*-----classes-------*/
.table-event{
background-color: black!important;
opacity: 0.8!important;
float: left;
}

main .table-event{
   
}








/*-----footer---------*/

footer {
    background-color: black; 
    opacity: 0.8;
  
}

.social-media {
    text-align: center;

}

.social-media li {
    display: inline; 
    
}
    
.social-media i{
    font-size: 150%;
    margin: 1%;
    padding:5%;
    color: rgb(146, 140, 140);
    
}

i:hover{
   color: rgb(173, 53, 10);
   font-size: 200%;
}