* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0 !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 auto;
}

/*-----------navbar---------*/
.nav_bar div {
  background-color: black;
  opacity: 0.8;
  height: 60px;
}

.bg-body-tertiary {
  padding: 0 !important;
}

.nav_bar {
  color: rgb(146, 140, 140);
}

.nav_bar a:hover {
  color: rgb(173, 53, 10);
}

#navbar-brand {
  color: rgb(173, 53, 10);
  text-decoration: none;
  font-size: 30px;
  font-family: Impact, sans-serif;
}

#navbar-brand:hover {
  color: rgb(251, 250, 250);
}

/*---------Front page Image--------*/

.hero-image {
  height: 100vh;
  width: 100%;
  display: flex;
}

.hero-image img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.lead-last-paragraph {
  margin-bottom: 0 !important;
  padding-bottom: 1em !important;
}

.jumbotron {
  background-color: black !important;
  opacity: 0.8;
  text-align: center;
  color: rgb(173, 53, 10);
}

/*------audio---------*/
audio {
  background-color: black!important;
  width: 100vw;
  height: 7vh;
}

audio::-webkit-media-controls-panel {
  border-radius: 0%;
}

audio::-webkit-media-controls-panel {
  background-color: black;
  opacity: 0.8;
}

audio::-webkit-media-controls-mute-button {
  background-color: rgb(173, 53, 10);
  border-radius: 20px;
}

audio::-webkit-media-controls-play-button{
  background-color: rgb(173, 53, 10);
  border-radius: 20px;
}
audio::-webkit-media-controls-current-time-display{
  color: rgb(173, 53, 10);
}

audio::-webkit-media-controls-time-remaining-display{
  color: rgb(146, 140, 140);
}

audio::-webkit-media-controls-timeline {
  background-color: rgb(146, 140, 140);
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}


/*--------Show Room-------*/
.show_room_bg {
  background-color: black;
  opacity: 0.8;
}

.image-gallery {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0px;
  margin: 0px;
}

.image-gallery img {
  width: 100%;
}

/*--------Contact---------*/

.googlemaps {
  padding-top: 10px;
  display: flex;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 60%;
  margin: 0;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.address {
  margin: auto;
}

.container {
  display: flex;
}

.btn {
  margin: 10px;
}

.response_message {
  background-color: black;
  opacity: 0.8;
  text-align: center;
  justify-content: center;
  margin: 70px;
  color: rgb(173, 53, 10);
  border: solid;
  font-size: 2rem;
}

/*---------footer---------*/

footer {
  background-color: black;
  opacity: 0.8;
  margin-bottom: 0;
  position: relative;
}

.social-media {
  text-align: center;
}

.social-media li {
  display: inline;
}

.social-media i {
  font-size: 150%;
  margin: 1%;
  padding: 5%;
  color: rgb(146, 140, 140);
}

i:hover {
  color: rgb(173, 53, 10);
}

/*---------media---------*/

@media (max-width: 600px) {
  .image-gallery {
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
  }
  .contact-container {
    flex-direction: column !important;
  }
  .googlemaps {
    flex-direction: column;
  }
  .address {
    font-size: 1rem;
  }
  .address h1,
  .address h2 {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 0.5rem;
  }
  input {
    font-size: 0.5rem;
  }
}

@media (min-width: 600px) {
  .image-gallery {
    column-count: 2;
  }
}
